# Core dependencies
yfinance
requests
pandas
numpy<2
beautifulsoup4

# Database
sqlalchemy
psycopg2-binary

# Configuration
python-dotenv

# Testing
pytest

# Code quality
black

# Logging
python-json-logger
